.demo1 {
    .content {
        width: 100%;
        max-width: 840px;
        margin: 0 auto;
        padding: 60px 20px;
        font-family: 'Noto Sans JP', sans-serif;
        > * {
            margin-bottom: 1em;
        }
        .jp {
            font-family: 'Noto Serif JP', sans-serif;
            writing-mode: vertical-rl;
            max-height: 50vh;
            max-width: 100%;
            overflow: auto;
            text-combine-upright: digits 2;
            > * {
                margin-left: 1em;
            }
        }
    }
}