.demo1 {
    .content {
        width: 100%;
        max-width: 840px;
        margin: 0 auto;
        padding: 60px 20px;
        font-family: 'Noto Sans JP', sans-serif;
        > * {
            margin-bottom: 1em;
        }
        .jp {
            position: relative;
            font-family: 'Noto Serif JP', sans-serif;
            writing-mode: vertical-rl;
            max-height: 50vh;
            width: calc(100% + 160px);
            margin-left: -80px;
            overflow: auto;
            padding-bottom: 10px;
            scrollbar-color: #1abc9c transparent;
            scrollbar-width: thin;
            > * {
                margin-left: 1em;
            }
            &::-webkit-scrollbar {
                background: transparent;
                height: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #1abc9c;
                border-radius: 3px;
            }
            // &::-webkit-scrollbar-button
            // &::-webkit-scrollbar-track
            // &::-webkit-scrollbar-track-piece
            // &::-webkit-scrollbar-corner
            // &::-webkit-resizer
        }
    }
}