.tobikomi {

    #container {
        font-family: 'Noto Serif JP', serif;
        border: solid 1px #777;
        margin: 0 auto;
        margin-top: 5vh;
        padding: 1em;
        width: 80vw;
        height: 50vh;
        /* ↑ look into ↓ */
        /* https://www.w3.org/TR/css3-mediaqueries/#orientation */
        writing-mode: vertical-rl;
        overflow: auto;
    }

    p {
        text-orientation: mixed;
        /* seems to automatically rotate half width characters.
        maybe some unicode range selection magic can undo
        that for digits? */
    }

    p, ul, ol, table {
        margin-block-end: 1em;
    }

    /* - - - - - - - - - - - - - */
    /* upright combined numbers  */

    .combi {
        /* text-combine-upright: digits 2; /* doesn't work */
        text-combine-upright: all;
    }

    /* - - - - - - - - - - - - - */
    /* upright acronyms          */

    .upright {
        text-orientation: upright;
        text-transform: full-width;
    }

    /* - - - - - - - - - - - - - */
    /* lists                     */

    ol {
        /* list-style-type: katakana-iroha; /* dictates 、 suffix */
        /* margin-top: 2em; /* needed in case of default counter */
        counter-reset: item;
        list-style-type: none;

        li:before {
         content: counter(item, katakana-iroha) '）';
         counter-increment: item;
        }

        li::marker {
            /* text-combine-upright: all; /* doesn't work */
        }

    }

    /* - - - - - - - - - - - - - */
    /* tables                    */

    table {
        border-collapse: collapse;
    }

    td, th {
        border: solid 1px #777;
        padding: 0.5em;
    }

    table.bushu {
        tr:first-child td {
            text-align: center;
            font-size: 1.2em;
        }

        td:nth-child(1), td:nth-child(3) {
            text-align: center;
            font-size: 1.5em;
        }

        td:nth-child(2), td:nth-child(4) {
            font-size: 0.7em;
        }

        td[colspan="4"] {
            text-align: center;
            font-size: 0.7em;
        }
    }

    /* - - - - - - - - - - - - - */
    /* text stying               */

    em {
        font-style: normal;
        text-emphasis-style: dot;
        /* doesn't work on Chrome */
    }

    u {
        text-decoration: underline;
    }

    p {
        text-underline-position: right;
        /* underline on the left by default */
    }

    /* - - - - - - - - - - - - - */
    /* ruby                      */

    rt {
        ruby-align: space-between;
    }

    /* - - - - - - - - - - - - - */
    /*                           */
}
